[submodule "app/Plugin/CakeResque"]
  path = app/Plugin/CakeResque
  url = git@github.com:kamisama/Cake-Resque.git
[submodule "app/Plugin/Facebook"]
  path = app/Plugin/Facebook
  url = git@github.com:webtechnick/CakePHP-Facebook-Plugin.git
