body {
  overflow-y: scroll;
  background: #f0f0f0 none;
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  color: #333;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  background: #fff url(../img/bg_header.png) repeat-x 0 0;
  border-bottom: 1px solid #dbd7ca;
  margin: auto 0;
  min-width: 1000px;
}
#header .header-content {
  width: 1000px;
  height: 49px;
  font-size: 12px;
  margin: 0 auto;
  z-index: 30;
  position: relative;
}

.header-content .logo {
  position: absolute;
  top: 13px;
  left: 10px;
  margin: 0;
  padding: 0;
}
.header-content .logo a {
  background: url(../img/simple_logo.png) no-repeat 50% 50%;
  display: block;
  width: 80px;
  height: 20px;
  text-indent: -2000em;
}

.header-content .menu-bar {
  list-style: none;
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  left: 100px;
  top: 13px;
  z-index: 30;
}

.menu-bar li {
  float: left;
  position: relative;
}
.menu-bar li a {
  text-decoration: none;
}
.menu-bar li.line {
  color: #d2d2d2;
  margin: 0 8px 0;
  font-weight: normal;
}
.menu-bar li.menu-btn {
  margin: -6px 0 0 33px;
}
.menu-bar li.menu-btn:last-child {
  margin: -6px 0 0 6px;
}
.menu-bar li.menu-btn a {
  text-align: center;
  color: #fff;
  width: 62px;
  height: 27px;
  line-height: 25px;
  display: inline-block;
  margin-right: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
}
.menu-bar li.menu-btn a.menu-linkin {
  background: #e30000;
}

.menu-bar li.menu-btn a.menu-photo {
  background: #4765a3;
}
.menu-bar div {
  margin: 0;
  padding: 0;
}


.header-content .header-right {
  position: absolute;
  right: 10px;
  top: 8px;
}

.header-content .header-right #profile {
  list-style: none;
  line-height: 25px;
  height: 27px;
}

.header-content .header-right #profile li{
  font-size: 12px;
  color: #ADADAD;
  line-height: 25px;
}
.header-content .header-right #profile a{
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

.header-right #profile .acc-link {
  cursor: pointer;
  display: inline-block;
}

.header-right #profile .acc-link .arrow-down {
  margin-left: 6px;
  margin-right: 8px;
  background: url("../img/menu-icon.png") no-repeat;
  width: 19px;
  height: 15px;
  margin-top: 6px;
}

.header-right #profile .acc-link .arrow-down:hover {
  margin-left: 6px;
  margin-right: 8px;
  background: url("../img/menu-icon-click.png") no-repeat;
  width: 19px;
  height: 15px;
  margin-top: 6px;
}
.header-right #profile .acc-link .expand {
  margin-left: 6px;
  margin-right: 8px;
  background: url("../img/menu-icon-click.png") no-repeat;
  width: 19px;
  height: 15px;
  margin-top: 6px;
}
.header-right #profile .top-channel-box {
  display: none;
  z-index: 99;
  background: url(../img/bg-transparent60.png);
  padding: 6px;
  position: absolute;
  top: 39px;
  left: -586px;
  text-align: left;
}
.top-channel-box .top-channel-box-inner {
  border: 1px solid #000;
  width: 760px;
  position: relative;
  font-size: 11px;
  font-weight: normal;
  background: #ccc;
}
.user-menu-top {
  float: right;
  background: #e5e5e5;
  border-left: 1px #fff solid;
  padding-left: 1px;
  margin-left: 1px;
  height: 384px;
  width: 190px;
}

.user-menu-top ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.user-menu-top ul li {
  display: block;
  background: #e5e5e5;
  border-top: 1px #fff solid;
  border-bottom: 1px #cbcbcb solid;
}
.user-menu-top ul li:hover {
  background: #d9d9d9;
}
.user-menu-top ul li a{
  font-size: 13px !important;
  font-family: tahoma;
  color: #333333 !important;
  padding: 10px;
  display: block;
}

.user-channel-top {
  float: left;
  width: 543px;
  height: 360px;
  background: #fff;
  padding: 12px;
  position: relative;
}
.user-channel-top .top-channel-list {
  overflow-y: auto;
  overflow-x: hidden;
  height: 325px;
}
.user-channel-top .head-menu {
  display: block;
  padding-bottom: 17px;
  background: transparent url('../img/bg_border_bottom_cbox.gif') repeat-x scroll left bottom;
}
.user-channel-top .head-menu .channel-link {
  float: left;
  color: #999;
  font-size: 14px;
  padding-top: 3px;
}

.user-channel-top .head-menu .channel-link a {
  color: #808080;
  padding: 0 5px;
  font-weight: bold;
}

.user-channel-top .head-menu .channel-link a:hover{
  color: #cd0607;
}

.user-channel-top .top-channel-list .lists-content {
  max-height: 308px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-channel-top .top-channel-list .lists-content .list-list {

}
.user-channel-top .top-channel-list .lists-content ul {
  width: 580px;
  margin-left: 0px;
}

.user-channel-top .top-channel-list .lists-content ul li{
  margin-right: 18px;
  width: 240px;
  padding: 8px;
  float: left;
  display: block;
  margin-top: 2px;
  margin-bottom: 2px;
  height: 36px;
}

.user-channel-top .top-channel-list .lists-content ul li .list-thumb{
  margin-right: 10px;
  float: left;
}

.user-channel-top .top-channel-list .lists-content ul li .title{
  font-size: 11px;
  display: block;
  color: #999999;
  line-height: 14px;
}
.user-channel-top .top-channel-list .lists-content ul li:hover{
  cursor: pointer;
  background: #d9d9d9;
}

.user-channel-top .top-channel-list .lists-content ul li img{
  width: 35px;
  height: 35px;
  overflow: hidden;
}


.small-avatar {
  width: 19px;
  height: 19px;
  background: none;
  vertical-align: middle;
  margin-top: -1px;
  border: 1px solid #ccc;
  padding: 1px;
}


.clear {
  clear: both;
  height: 0;
}

.active {
  display: blocl;
}
#content {
  padding-top: 70px;
  min-height: 1000px;
}

#debug-kit-toolbar {
  display: none;
}


.btn {
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), color-stop(25%, white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, white, white 25%, #e6e6e6);
  background-image: -ms-linear-gradient(white, white 25%, #e6e6e6);
  background-image: -o-linear-gradient(white, white 25%, #e6e6e6);
  background-image: linear-gradient(white, white 25%, #e6e6e6);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFE6E6E6', GradientType=0);
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.page-wrap {

  background: #fff;
  margin: 0 auto 5px;
  text-align: left;
  width: 1000px;
}

.page-content {
  text-align: left;
  padding: 0px 15px 10px 15px;
}
.border-center {
  background: url(../img/bg-home-border-right.png) repeat-y 665px top;
  margin: 0 auto 5px;
}

.page-wrap .clearfix {
  display: block;
}

.page-content .left-content {
  float: left;
  width: 635px;
}

.page-content .left-content .news-filter{
  background: url(../img/line2.png) repeat-x scroll 0 100%;
  font-size: 17px;
  padding-bottom: 5px;
  margin: 0;
  height: 30px;
  line-height: 30px;
}

.page-content .left-content .news-filter h2{
  color: #252525;
  font-size: 17px;
  font-weight: normal;
  padding-left: 0px;
}

.page-content .left-content .news-filter h2 a{
  color: #898989;
}

.page-content .left-content .news-filter h2 a.a-active{
  color: #d90000;
}

.page-content .left-content .news-filter h2 a img{
  width: 16px;
  height: 16px;
  vertical-align: -2px;
}

.news-list {
  list-style: none;
}


.news-list .link-item {
  border-bottom: solid 1px #ebebeb;
  padding: 10px 0;
  position: relative;
}

.link-thumb {
  padding-top: 3px;
  width: 60px;
  height: 60px;
}
.right-set {
  float: right;
  padding: 0 1px;
}
.left-set {
  float: left;
  width: 30px;
  text-align: center;
}

.link-thumb a {

}
.link-thumb a img {
  border: 1px solid #CCCCCC;
  padding: 1px;
  width: 60px;
  height: 60px;
}

.link-like {
  padding-top: 3px;
  width: 55px;
  float: left;
}

.link-like .like-count {
  background: url(../img/news-item-sprites.png) no-repeat scroll 0 -15px;
  color: #C00607;
  display: block;
  width: 55px;
  height: 35px;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 5px;
  text-align: center;
}

.link-like .vote {
  background: url(../img/news-item-sprites.png) no-repeat scroll 0 -50px;
  color: #060;
  cursor: pointer;
  display: block;
  height: 20px;
  line-height: 20px;
  font-weight: bold;
  position: relative;
  padding-left: 20px;
}

.link-like .vote i{
  background: url(../img/news-item-sprites.png) no-repeat scroll -50px 0;
  display: block;
  width: 9px;
  height: 10px;
  position: absolute;
  left: 7px;
  top: 5px;
}

.link-content {
  padding: 0 80px 0 70px;
}

.link-content h2{
  font-size: 15px;
  font-weight: bold;
  line-height: 18px;
  margin: 0 0 6px;
  overflow: hidden;
}

.link-content h2 a{
  color: #444;
}

.link-content h2 .author-mess {
  font-size: 12px;
  font-weight: normal;
  color: #164673;
}

.link-content h2 .author-mess .dot {
  font-size: 8px;
  vertical-align: 2px;
  color: #c00607;
  margin: 0 2px 0 0;
}

.link-content .link-meta {
  color: #959595;
  height: 17px;
  font-size: 11px;
  margin: 0 0 6px 0;
  position: relative;
}
.link-content .link-meta span {
  float: left;
}

.link-content .link-meta .user-info{
  color: #777;
  position: relative;
  width: auto;
  margin-left: 0px;
}

.link-content .link-meta .user-info .link-owner img{
  margin-right: 4px;
  border: 1px solid #ccc;
  vertical-align: middle;
  width: 19px;
  height: 19px;
}

.link-content .link-meta .user-info a{
  color: #333 !important;
}

.link-content .link-meta .seperator{
  margin: 0 5px;
}
.link-content .link-meta .channel a{
  color: #999;
}
.link-content .link-meta .domain a{
  color: #959595 !important;
  font-size: 11px;
}


.link-content .link-stats {
  color: #999;
  font-size: 11px;
  padding: 0;
  margin: 0;
}

.link-content .link-stats .timeago{
  color: #999 !important;
  padding-right: 5px;
}

.link-content .link-stats .comment-count{
  color: #c00607 !important;
  padding: 0 5px;
}

.link-content .link-stats .view-count{
  color: #999 !important;
  padding-right: 5px;
}
.link-content .link-stats .spread-link {
  color: #C00607 !important;
  padding: 0 3px 0 5px;
  cursor: pointer;
}


.link-content .link-stats .fb_iframe_widget {
  vertical-align: 3px;
}

.top-banner {
  margin: auto;
  padding: 10px 5px;
  width: 992px;
  background: #fff;
  margin-bottom: 5px;
  height: 80px;

}

.top-banner .adv1 {
  width: 980px;
  margin: 0 auto
}


.page-content .right-content {
  float: left;
  padding-left: 35px;
  width: 300px;
  padding-top: 15px;
}

.page-content .right-content h2{
  line-height: 20px;
}


.search-box .search-btn {
  border: 1px solid #C2C0C0;
  color: #898989;
  cursor: pointer;
  display: inline-block;
  height: 29px;
  border-left: 0 !important;
  font-weight: lighter;
}

.search-box input[type='text'] {
  float: left;
  border: 1px #c2c0c0 solid;
  color: #c2c0c0;
  padding: 5px;
  font-size: 16px;
  font-family: tahoma;
  width: 258px;
  background: #FAF7F7;
  border-radius: 0;
  height: 19px;
}

.search-box .search-btn input[type='submit'] {
  border: none;
  text-indent: 100px;
  margin: 8px;
  cursor: pointer;
  width: 13px;
  height: 13px;
  background: url("../img/linkhay-sprites.png") no-repeat;
  background-position: -80px -16px;
}

.divide-wrap {
  border-top: 2px solid #ccc;
  position: relative;
  margin-top: 15px;
  padding: 8px 0 12px;
  background: url(../img/bg_bottom_suggest.png) repeat-x bottom;
}

.bookmarklet-holder {
  border: 1px solid #E2E2E2;
  margin: 25px 0 0 !important;
  float: left;
  width: 100%;
}

.w-header {
  border-bottom: 1px solid #E9E9E9;
  margin: 0;
  padding: 0;
}

.w-header h2{
  color: #CD0607;
  font-family: tahoma;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 9px 7px;
}

.bookmarklet-holder div.bookmarklets-info {
  padding: 9px 7px 0;
}

.bookmarklet-holder div.bookmarklets-info p{
  margin-bottom: 13px;
}

.bookmarklet-holder div.bookmarklets-info .bookmarklet-icons{
  margin-bottom: 7px;
  position: relative;
  color: white;
  background-image: url('../img/bookmarklet_link.png');
  width: 91px;
  height: 24px;
}

.bookmarklet-holder div.bookmarklets-info .bookmarklet-icons a{
  display:block;
  width: 91px;
  height: 24px;
  opacity: 0;
}

.top-links-home {
  border: 1px solid #E2E2E2;
  margin: 25px 0 0 !important;
  float: left;
  width: 100%;

}
.top-links-home .link-feature {
  padding: 9px 7px 0;
}

.top-links-home .side-link {
  padding: 5px 0 5px 0;
  font-size: 12px;
  line-height: 17px;
  border-bottom: 1px solid #E1E1E1;
}


.top-links-home .side-link .like-count{
  color: #c00607;
  font-size: 18px;
}
.top-links-home .side-link .mark{
  color: #D7D7D7;
  font-size: 11px;
  text-transform: uppercase;
}

.top-links-home .side-link .right{
  margin-left: 35px;
  float: none;
  overflow: hidden;
}

.top-links-home .side-link .right .title{
  padding-left: 5px;
  width: 225px;
}

.top-links-home .side-link .right .title a{
  color: #333 !important;
}

.top-links-home .side-link .right img.thumb{
  border: 1px solid #B7CCE0;
  padding: 1px 1px;
}

.page-wrap.ViewLink > .page-content {
  background: none;
}


.page-wrap.ViewLink > .page-content .left-content {
  padding-top: 15px;
}

.page-wrap.ViewLink > .page-content .link-content {
  vertical-align: top;
  padding: 0px !important;
  display: inline-block;
  width: 400px;
}

.page-wrap.ViewLink .page-content .thumb {
  border: 1px solid #ccc;
  padding: 2px;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: inline-block;
  margin: 0px 15px;
}

.page-wrap.ViewLink .page-content .thumb img {
  border: none;
}

.page-wrap.ViewLink .page-content .linkView-comments h2.lineCenterTitle {
  display: block !important;
  border: 0;
  margin: 0 !important;
  float: none !important;
  padding: 10px 0 5px !important;
  position: relative;
  top: 2px;
  background: #fff none;
  color: #999;
  font-size: 15px;
  font-weight: bold;
  line-height: 1em;
}

.page-wrap.ViewLink .page-content .linkView-comments h2.lineCenterTitle .line {
  display: block;
  border-bottom: 1px solid #E3E3E3;
}

.page-wrap.ViewLink .page-content .linkView-comments h2.lineCenterTitle .wrapper {
  padding: 0 5px;
  display: inline-block;
  background: #ffffff;
  position: relative;
  top: -10px;
  left: 60px;
}
.page-wrap.ViewLink .page-content .linkView-comments .commentlist {
  margin: 0;
  padding: 0;
}

.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block {
  display: block;
  padding: 8px 0 10px 0;
  position: relative;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-head {
  padding: 0 0 0 62px;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-head .username {
  float: left;
  margin-right: 2px;
  color: #363636;
}

.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-head .username .user-avatar{
  border: 1px solid #ccc !important;
  padding: 1px;
  position: absolute;
  top: 8px;
  left: 0;
  width: 48px;
  height: 48px;
}

.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-head .timeago {
  color: #999 !important;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-body {
  padding: 0px 45px 0 62px;
  min-height: 34px;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-action {
  font-size: 11px;
  padding-right: 6px;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-action .c-reply {
  background-position: -25px -250px !important;
  background: url(../img/linkhay-sprites-v3.png) no-repeat scroll 0 -250px transparent;
  display: block;
  width: 25px;
  height: 19px;
  text-indent: -2000em;
  float: right;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .c-action .c-reply:hover {
  background-position: -25px -269px !important;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .recomments {
  background: url(../img/bg_c_child_block.png) no-repeat scroll left top transparent;
  padding: 7px 0 0;
  margin: 0 0 0 17px;
}


.page-wrap.ViewLink .page-content .linkView-comments .commentlist li.comment-block .recomments .recomment-block {
  background: url(../img/bg-li-cmt-new.png) repeat-x center bottom #F4F4F4;
  list-style: none;
  padding: 6px;
  border-left: 1px solid #f4f4f4;
  border-right: 1px solid #f4f4f4;
  min-height: 50px;
  border-top: 0;
  position: relative;
}

.page-wrap.ViewLink .page-content .comment-form [id*="recomment-input-"], .page-wrap.ViewLink .page-content .comment-form [id*="comment-input"] {
  width: 100%;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

.page-wrap.ViewLink .page-content .comment-form [class*="recomment-submit-"], .page-wrap.ViewLink .page-content .comment-form [class*="comment-submit"] {
  cursor: pointer;
  border: 1px solid #484848;
  background: #6C6C6C;
  -moz-box-shadow: inset -1px 1px 0 0 #bfbfbf;
  -webkit-box-shadow: inset -1px 1px 0 0 #BFBFBF;
  box-shadow: inset -1px 1px 0 0 #BFBFBF;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  color: #fff;
  padding: 5px 15px;
  margin: 0;
}

.page-wrap.ViewLink .page-content .comment-form .bodyReply {
  /* padding-bottom: 35px; */
}

.page-wrap.ViewLink .page-content .comment-form .bodyReply .actionReply {
  text-align: right;
  padding: 5px 0px 0px 0;
  border-top: 1px solid #B7B7B7;
}

.page-wrap.ViewLink .page-content .comment-form .titleReply {
  background-color: #D9E7F3;
  padding:3px 1px;
  width: 100%;
  background: #f2f2f2;
  box-shadow: inset 0 1px white;
}

.page-wrap.ViewLink .page-content .comment-form .titleReply.new-comment {
  background-color: #A5CC7B;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  padding: 3px 1px;
}

.page-wrap.ViewLink .page-content .comment-form .titleReply .title {
  background: none;
  border: medium none;
  color: #50687D;
  font-size: 12px;
  font-weight: bold;
  padding: 0 0 0 5px;
}

.page-wrap.ViewLink .page-content .comment-form .titleReply.new-comment .title {
  color: white;
}

.user-edit-form {
  display: block;
  word-spacing: -0.43em;
  padding: 50px;
}

.user-edit-form label {
  width: 160px;
  padding: 15px;
  display: inline-block;
}

.user-edit-form .date select{
  width: 71px;
}

.user-edit-form .avatar-frame {
  left: 190px !important;
}

.user-edit-form .avatar-btn {
  left: 195px !important;
}

.user-edit-form .file input[type='file'] {
  left: 190px !important;
}

.user-edit-form input[type='submit'] {
  width: 100px;
  margin: 20px 0 0 15px;
}

.links-manage {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 20px;

}

.links-manage h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  padding-bottom: 10px;
  text-align: center;
}

.links-manage table {
  width: 1000px;
  margin: 20px auto 0;
}

.links-manage table tr {

}

.links-manage table td {
  width: 100px;
  text-align: center;
  height: 100px;
  background: #fff;
}
